h1 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 54px;
  text-align: center;
  margin-bottom: .5em;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  font-family: 'Roboto';
  font-size: 2em;
  margin-top: .5em;
}
 
.add-bookmark-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 1em;
  font-family: 'Open Sans';
  white-space: normal;
  width: 75%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.add-bookmark-container input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-top: 1px solid black;
  border-left: 1px solid 
}

button.add-bookmark-button {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

button.wider-button {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.rating-filter-container {
  display: flex;
  justify-content: center;
}

.rating-filter-container input{
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.search-filter-container {
  border: 1px solid black;
  padding: 5px;
  font-size: 1em;
  text-align: center;
  font-family: 'Open Sans';
  width: 75%;
  display: flex;
  margin: auto;
  flex-direction: column;

}

.bookmark-search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bookmark-rating-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookmark-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 1em;
  font-family: 'Open Sans';
  white-space: normal;
  width: 75%;
  list-style: none;
}

section.static-view-item-container {
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  text-align: center;
}

.lightbox {
  position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background-color: lightblue;
}

.static-button-div {
  display: flex;
  justify-content: center;
}

.starCount {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

input:invalid {
  border: 2px dotted red;
}

input:valid {
  border-top: 1px solid black;
  border-left: 1px solid black;
}