h1 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 54px;
  text-align: center;
  margin-bottom: .5em;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  font-family: 'Roboto';
  font-size: 2em;
  margin-top: .5em;
}
 
.add-bookmark-container {
  margin: auto;
  display: flex;;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 1em;
  font-family: 'Open Sans';
  white-space: normal;
  width: 75%
}

.add-bookmark-container input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

button.add-bookmark-button {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

button.wider-button {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.search-filter-container {
  align-content: center;
  justify-content: center;
  border: 1px solid black;
  padding: 5px;
  font-size: 1em;
  text-align: center;
  font-family: 'Open Sans';
}

.bookmark-container {
  margin: auto;
  display: flex;;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 1em;
  font-family: 'Open Sans';
  white-space: normal;
  width: 75%;
  list-style: none;
}

section.static-view-item-container {
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  text-align: center;
}

.static-button-div {
  display: flex;
  justify-content: center;
}

.starCount {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

